<ion-card  
  [routerLink]=" urlPage" 
  [queryParams]="{ title: title }" 
  class="product-card">

  <img [src]="imageUrl " [alt]=" altText || title" class="product-image" />

  <ion-card-content class="product-info">
    <ion-card-title>{{ title }}</ion-card-title>

    <ion-text 
    class="description-text"
    [ngClass]="{
      'expanded': showDescription && (description || altText),
      'collapsed': !(showDescription && (description || altText))
    }">
    {{ showDescription && (description || altText) ? (description || altText) : precio }}
  </ion-text>

  </ion-card-content>
</ion-card>
