<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="4" class="footer-left">
        <ion-text>
          <h2>Social media</h2>
        </ion-text>
        
        <div class="social-icons">
          <a target="_blank" rel="noopener noreferrer">
            <ion-icon name="logo-facebook"></ion-icon>
          </a>
          <a target="_blank" rel="noopener noreferrer">
            <ion-icon name="logo-instagram"></ion-icon>
          </a>
          <a target="_blank" rel="noopener noreferrer">
            <ion-icon name="logo-twitter"></ion-icon>
          </a>
          <a target="_blank" rel="noopener noreferrer">
            <ion-icon name="logo-whatsapp"></ion-icon>
          </a>
        </div>

      </ion-col>

      <ion-col size="12" size-md="4" class="footer-links">
        <ion-text>
          <h3>Quick Links</h3>
        </ion-text>
        <nav class="footer-quick-links">
          <a routerLink="/landing">Inicio</a>
          <a href="#">Sobre nostros</a>
          <a href="#">Más Vendidos</a>
        </nav>
      </ion-col>

      <ion-col size="12" size-md="4" class="footer-contact">
        
        <ion-text>
          <h3>Contacto</h3>
        </ion-text>

        <div class="footer-contact-info">
          <div class="contact-item">
            <ion-icon name="mail-outline"></ion-icon>
            <span>rokubicl&#64;gmail.com</span>
          </div>
          <div class="contact-item">
            <ion-icon name="call-outline"></ion-icon>
            <span>+56 9 5691 3380</span>
          </div>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
