<ion-header>
  <ion-toolbar>

    <div slot="start" class="logo-title-container">
      <img src="assets/images/image.png" alt="Logo Robuki" routerLink="/landing" class="logo">
      <ion-title routerLink="/landing">Robuki</ion-title>
    </div>

    <div class="barraBuscar">
      <app-barra-buscar (searchChange)="onSearch($event)" class="barraBuscar"></app-barra-buscar>
    </div>
    
    <div class="secciones">
      <ion-icon name="log-in" [routerLink]='ruta'></ion-icon>
      <ion-icon name="cart" routerLink="/carrito"></ion-icon>
      <ion-icon name="log-out" routerLink="/landing" (click)="desloguear()"></ion-icon>
    </div>

  </ion-toolbar>
</ion-header>