ion-content {
  .layout-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 55px;

    .admin-container {
      width: 25%;
      min-width: 200px;
      background-color: #f9dfbb;

      .content-wrapper {
        display: flex;
        justify-content: center; // centra horizontalmente
        align-items: flex-start; // opcional: alinear arriba
        height: 100%;
        padding: 16px;
      }
    }

    .cards-wrapper {
      width: 75%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; // 🔹 Centra horizontalmente el contenido
      padding: 16px; // puedes usar padding horizontal y vertical si quieres
      align-items: flex-start;
      overflow-x: auto;
    
      app-product-card {
        display: inline-flex;
        width: 220px;
        height: 320px;
        margin: 8px; // para que quede centrado mejor entre líneas
    
        &:last-child {
          margin-right: 8px; // o simplemente elimina esta regla si usas margin general
        }
      }
    }
    
  }
}
