<app-header></app-header>

<ion-content>
  

  <div class="layout-wrapper">
    <div class="admin-container">
      <app-selectable-list
        class="main-content"
        [items]="categorias"
        [selectedItemId]="selectedId"
        (itemSelected)="onItemSelected($event)">
      </app-selectable-list>
    </div>

    <div class="cards-wrapper">
      <app-product-card
        *ngFor="let product of productos"
        [urlPage]="'/detalle-producto/' + product.id"
        [title]="product.name"
        [imageUrl]="product.image"
        [altText]="product.altText"
        [precio]="product.precio">
      </app-product-card>
    </div>
  </div>

  <app-footer></app-footer>

</ion-content>


