<div class="carousel-container">

  <ion-title class="productsTitle">¿Qué deseas comprar?</ion-title>

  <div class="carousel-controls">
    <button class="carousel-nav prev" (click)="prev()">‹</button>

    <div class="carousel-wrapper">
      <div class="carousel-track" [style.transform]="'translateX(-' + currentOffset + 'px)'">
        <app-product-card 
          *ngFor="let categoria of categorias"
          [urlPage]="'/productos-principal'"
          [title]="categoria.name"
          [imageUrl]="categoria.image"
          [description]="categoria.description"
          [altText]="categoria.altText"
          [showDescription]="true">
        </app-product-card>
      </div>
    </div>

    <button class="carousel-nav next" (click)="next()">›</button>
  </div>
</div>

