<app-header></app-header>

<ion-content>
  <div class="landing-page">

    <section class="featured-section">
      <app-carrusel-destacados></app-carrusel-destacados>
    </section>

    <section class="products-section">
      <app-carrusel-cartas [categorias]="categorias"></app-carrusel-cartas>
    </section>

    <section class="build-section">
      <app-seccion-armar></app-seccion-armar>
    </section>

    <section class="style-section">
      <app-seccion-estilos></app-seccion-estilos>
    </section>

    <section class="reviews-section">
      <app-seccion-comentarios></app-seccion-comentarios>
    </section>
  </div>
  
  <app-footer> </app-footer>
</ion-content>
    
