<app-header></app-header>

<ion-content>
  <div class="logo-container">
    <h1 class="logo-text">Registro</h1>
  </div>

  <ion-list class="form-container">
    <ion-item>
      <ion-label position="fixed">Nombre</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="fixed">Email</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="fixed">Rut</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="fixed">Region</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="fixed">Comuna</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="fixed">Contraseña</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="fixed">Confirmar Contraseña</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <ion-button expand="block" class="register-button">Registrarse</ion-button>
  </ion-list>

  <div class="login-link">
    ¿Ya tienes cuenta? <a routerLink="/inicio-sesion">Inicia sesión</a>
  </div>
  
  <app-footer> </app-footer>
</ion-content>
