<app-header></app-header>

<ion-content>
  <div class="contenido">
    <div class="filaUno">
      <div class="imagen">
        <div class="img-wrapper">
          <ion-img [src]="producto?.image"></ion-img>
        </div>
      </div>

      <div class="infoProduct">
        <ion-title>{{ producto?.name }}</ion-title>

        
        
        <!-- Dropdown para selección de divisa -->
        <ion-item class="currency-selector">
          <ion-label position="stacked">Mostrar precio en:</ion-label>
          <ion-select
            [value]="selectedCurrency"
            (ionChange)="onCurrencyChange($event)"
            interface="popover"
            placeholder="Seleccionar divisa"
          >
            <ion-select-option *ngFor="let currency of availableCurrencies" [value]="currency.code">
              {{ currency.name }} ({{ currency.code }})
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-text class="descripcion">Descripción: {{ producto?.altText }}</ion-text>

        <!-- Muestra el precio convertido -->
        <ion-text class="descripcion">
          Precio por unidad: {{ selectedCurrency }} {{ convertedPrice | number:'1.2-2' }}
        </ion-text>
        
        <ion-text class="descripcion">Compatibilidades: Proximamente</ion-text>
        <ion-text class="descripcion">Stock disponible: {{ producto?.stock }}</ion-text>
        
        <div class="botones">
          <ion-text class="compra">{{apartados}}</ion-text>

          <ion-button class="boton-circular" (click)="sumar()">
            <ion-icon name="add" [style.font-size]="'50px'"></ion-icon>
          </ion-button>

          <ion-button class="boton-circular" (click)="restar()">
            <ion-icon name="remove" [style.font-size]="'50px'"></ion-icon>
          </ion-button>

          <!-- El total local sigue mostrando en la divisa base, puedes añadir lógica para convertirlo también si lo deseas -->
          <ion-text class="total">Total: ${{total | number:'1.2-2'}} </ion-text>

          <ion-button class = "carrito" (click)="agregar()">Agregar al carrito</ion-button>
        </div>
      </div>
    </div>

    <div class="seccionComentarios">
      <app-coments-product [id]="id"></app-coments-product>
    </div>
    
  </div>

  <app-footer></app-footer>

</ion-content>
