<div class="page-wrapper">
  <app-header></app-header>

  <ion-content>
    <div class="layout-wrapper">
      <div class="sidebar-container">
        <app-selectable-list
          [items]="listItems"
          [selectedItemId]="selectedId"
          (itemSelected)="onItemSelected($event)">
        </app-selectable-list>
      </div>

      <div class="main-content-area">
        <ng-container *ngIf="currentComponent">
          <ng-container
            *ngComponentOutlet="currentComponent;
            inputs: getComponentInputs()">
          </ng-container>
        </ng-container>

        <ng-container *ngIf="!currentComponent">
          <div class="placeholder-content">
            <ion-icon name="information-circle-outline"></ion-icon>
            <p>Selecciona una opción del menú.</p>
          </div>
        </ng-container>
      </div>
    </div>
  </ion-content>

  <app-footer></app-footer>
</div>