<app-header></app-header>

<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="login-container">
      <h1 class="logo-text">Inicio Sesión</h1>
    </div>

    <ion-list class="form-container">
      <ion-item>
        <ion-label position="fixed">Usuario</ion-label>
        <ion-input
          type="mail"
          formControlName="mail"
          name="mail"
          required
        ></ion-input>
      </ion-item>
      <ion-item *ngIf="loginForm.get('mail')?.invalid && loginForm.get('mail')?.touched">
        <ion-label color="danger">Correo inválido</ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="fixed">Contraseña</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        <ion-label color="danger">Contraseña requerida</ion-label>
      </ion-item>

      <ion-button expand="block" class="login-button" type="submit">Iniciar Sesión</ion-button>

      <div class="olvide-pass">
        <a routerLink="/registro">¿Olvidaste tu contraseña?</a>
      </div>
    </ion-list>

    <div class="registrar">
      ¿No tienes cuenta? <a routerLink="/registro">Regístrate</a>
    </div>
  </form>

  <app-footer></app-footer>
</ion-content>
