ion-content {
  --background: #198089;

  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3.5rem 0 1rem;
      
    .logo-text {
      font-size: 2.5rem;
      font-weight: bold;
      color: #F7DAB2;;
    }
  }

  .form-container {
    --background: #F7DAB2;
    background: var(--background);
    border-radius: 12px;
    padding: 16px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 1.5rem;
  
    ion-item {
      --background: #fff;
      --padding-start: 0;
      --inner-padding-end: 0;
      --border-color: #0000;
      margin-bottom: 1rem;
      
      ion-label {
        color: #000;
        margin-left: 8px;
      }
    
      ion-input {
        color: #000;
        margin-left: 8px;
      }
    }
  
    .login-button {
      --background: #F85021;
      margin-top: 1.5rem;
      --border-radius: 8px;
      height: 50px;
      font-weight: bold;
    }
  
    .olvide-pass {
      margin-top: 1.5rem;
      --border-radius: 8px;
      height: 50px;
      font-weight: bold;
  
      a {
        color: #000000;
      }
    }
  }

  .registrar {
    --background: #F7DAB2;
    text-align: center;
    color: #000000;
    margin-bottom: 1.5rem;
  
    a {
      color: #F85021;
      text-decoration: none;
      font-weight: 500;
    }
  }
}




